@model WebTest.ViewModels.Profesores.ProfesoresViewModel

@{
    ViewBag.Title = "Listado Profesores";
}
<h2>@ViewBag.Title</h2>
<h4>@Model.Message</h4>

@if (Model.Profesores.Any())
{
    <div class="card">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Apellido y Nombre</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Legajo</th>
                        <th scope="col">Cantidad de Materias</th>
                        <th scope="col">Cantidad de Exámenes Generados</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var profesor in Model.Profesores.OrderBy(profesor => profesor.ApellidoNombre))
                    {
                        <tr>
                            <td>@profesor.ApellidoNombre</td>
                            <td>@profesor.Dni</td>
                            <td>@profesor.Legajo.verLegajo()</td>
                            <td>@profesor.Materias.Count - <a href="@Url.Action("Materias", "Profesores", new { dni = profesor.Dni })">Ver</a></td>
                            <td>@profesor.Examenes.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>        
    </div>
}
else
{
    <h3>@Model.Error</h3>
}